.content{
    position:relative;
    text-align:left;
    margin-left:5px;
    margin-right:5px;
    margin-top:8px;
    margin-bottom:10px;
}
.code{
    font-family:monospace,monospace;
    background-color:lightgrey;
}
#GUI_img{
    float:right;
    width:30%;
}
.fig_cap{
    font-style:italic;
    text-align:center;
}