.logo{
    margin:2px;
    display:inline;
    float:left;
    width:8em;
}
.title{
    font-weight:bold;
    font-size:4em;
    color:orange;
    text-align:center;
}
.subtitle{
    font-size:1em;
    text-align:center;
}
.header{
    display:block;
    margin-top:2px;
    margin-bottom:30px;
    background: radial-gradient(steelblue,whitesmoke);
    border-radius: 5px;
}
.nav_menu li{
    list-style-type:none;
    border-left:2px grey solid;
    padding-left:2px;
    margin-right:1px;
    position:relative;
    display:inline-block;
}
.tipbutton{
    float:right;
    position:absolute;
    top:9px;
    right:8px;
    width:8%;
    max-width:2cm;
    min-width:1.5cm;
    cursor:pointer;
    background: radial-gradient(#eae6e6,aliceblue,#eae6e6);
    border-radius: 5px;
}
.tipbutton img{
    width:90%;
}